<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Database</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-database text-dark"> </i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Database </a>
                            </li>

                            <li aria-current="page" class="breadcrumb-item active">
                                Rig
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class=" col-lg-6 col-5 text-right">
                    <a class=" btn btn-sm btn-success text-white" (click)="openDefaultModal(modalAdd)"> Add Rig</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Rig List</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">Name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Contact Person</th>
                                <th scope="col">Contact Person 1</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">
                                                1
                                            </span>
                                        </div>
                                        <a
                                          class="avatar rounded-circle bg-white mr-3"
                                          href="javascript:void(0)"
                                        >
                                            <img
                                                alt="Image placeholder"
                                                src="assets/img/icons/rig.svg"
                                            />
                                        </a>
                                    </div>
                                </th>
                                <td>Rig Naga 1</td>
                                <td>Sarawak</td>
                                <td>Amin Redzuan</td>
                                <td>017261641</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">
                                                2
                                            </span>
                                        </div>
                                        <a
                                          class="avatar rounded-circle bg-white mr-3"
                                          href="javascript:void(0)"
                                        >
                                            <img
                                                alt="Image placeholder"
                                                src="assets/img/icons/rig.svg"
                                            />
                                        </a>
                                    </div>
                                </th>
                                <td>Rig Naga 2</td>
                                <td>Johor</td>
                                <td>Nazmi Salleh</td>
                                <td>012812712</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">
                                                3
                                            </span>
                                        </div>
                                        <a
                                          class="avatar rounded-circle bg-white mr-3"
                                          href="javascript:void(0)"
                                        >
                                            <img
                                                alt="Image placeholder"
                                                src="assets/img/icons/rig.svg"
                                            />
                                        </a>
                                    </div>
                                </th>
                                <td>Rig Naga 3</td>
                                <td>Terengganu</td>
                                <td>Iwan Redzuan</td>
                                <td>0129128123</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">
                                                4
                                            </span>
                                        </div>
                                        <a
                                          class="avatar rounded-circle bg-white mr-3"
                                          href="javascript:void(0)"
                                        >
                                            <img
                                                alt="Image placeholder"
                                                src="assets/img/icons/rig.svg"
                                            />
                                        </a>
                                    </div>
                                </th>
                                <td>Rig Naga 4</td>
                                <td>Sabah</td>
                                <td>Azrul Hazman</td>
                                <td>0119181412</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalAdd>
    <div class=" modal-header">
        <h6 class=" modal-title" id="modal-title-default">
            Add Rig
        </h6>

        <button aria-label="Close" class=" close" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            <span aria-hidden="true"> × </span>
        </button>
    </div>

    <div class=" modal-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Name</label>
                    <input class="form-control form-control-sm" placeholder="Enter rig name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Location</label>
                    <input class="form-control form-control-sm" placeholder="Enter rig location">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Contact Person Name</label>
                    <input class="form-control form-control-sm" placeholder="Enter contact person name">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="form-control-label">Contact Person No.</label>
                    <input class="form-control form-control-sm" placeholder="Enter contact person no.">
                </div>
            </div>
        </div>

    </div>

    <div class=" modal-footer">
        <button class=" btn btn-success" type="button">
            Save
        </button>

        <button class=" btn btn-link ml-auto" data-dismiss="modal" type="button" (click)="defaultModal.hide()">
            Close
        </button>
    </div>
</ng-template>