<div class="header pb-6">
    <div class=" container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <h6 class=" h2 text-dark d-inline-block mb-0">Notice of Operation</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class=" breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="far fa-calendar-alt text-dark"> </i> </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> Notice of Operation </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="text-dark"> List </a>
                            </li>
                            <li aria-current="page" class="breadcrumb-item active">
                                Details
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Well Summary (Version 1.0)</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class=" heading-small text-muted mb-4">General Information</h6>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Well Name</label>
                                        <input class="form-control form-control-sm" value="GG-1" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Rig Name</label>
                                        <input class="form-control form-control-sm" value="Naga 6" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Field Name</label>
                                        <input class="form-control form-control-sm" value="SK316" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Rig Type</label>
                                        <input class="form-control form-control-sm" value="Jack Up" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Location</label>
                                        <input class="form-control form-control-sm" value="Offshore Sarawak" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Rig Contractor</label>
                                        <input class="form-control form-control-sm" value="Velestos Energy " disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Well Type</label>
                                        <input class="form-control form-control-sm" value="Carbonate Exploration Well"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">DF Elevation</label>
                                        <input class="form-control form-control-sm" value="30 m" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Slot No.</label>
                                        <input class="form-control form-control-sm" value="N/A" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Water Depth (m)</label>
                                        <input class="form-control form-control-sm" value="94 m" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Platform</label>
                                        <input class="form-control form-control-sm" value="N/A" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Distance to Base</label>
                                        <input class="form-control form-control-sm" value="247 km Offshore" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h6 class=" heading-small text-muted mb-4">Surface Coordinate</h6>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Geographical Latitude</label>
                                        <input class="form-control form-control-sm" placeholder="4° 47' 15.508 N"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Geographical Longitude</label>
                                        <input class="form-control form-control-sm" placeholder="112° 57' 24.086 E"
                                            disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Grid Northing</label>
                                        <input class="form-control form-control-sm" placeholder="529499.92m " disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Grid Easting</label>
                                        <input class="form-control form-control-sm" placeholder="717017.91m" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Datum</label>
                                        <input class="form-control form-control-sm" placeholder="WGS 1984  " disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Spheroid</label>
                                        <input class="form-control form-control-sm" placeholder="WGS 84" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Projection</label>
                                        <input class="form-control form-control-sm" placeholder="UTM_Zone_49N" disabled>
                                    </div>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Subsurface Information</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class=" heading-small text-muted mb-4">General Information</h6>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Proposed Well Depth</label>
                                        <input class="form-control form-control-sm" value="3660m TVDDF/MDDF" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Mercury Concentration</label>
                                        <input class="form-control form-control-sm" value="Nil" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Nearby Offset Wells Reviewed</label>
                                        <input class="form-control form-control-sm"
                                            value="Rozel-1, NC5-2, NC5-1 ST1, NC4-1 RDR, F2-1, F2 Attic-1" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Expected Reservoir Fluid Type</label>
                                        <input class="form-control form-control-sm" value="Gas/Water" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Primary Target Designation</label>
                                        <input class="form-control form-control-sm"
                                            value="Cycle IV Carbonate (TOC @ 3197mss)" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Trap Style</label>
                                        <input class="form-control form-control-sm"
                                            value="Primary: Structural (Carbonate) " disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">H2S Concentration</label>
                                        <input class="form-control form-control-sm" value="90-130 ppm" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">CO2</label>
                                        <input class="form-control form-control-sm" value="8-20" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Expected Reservoir Pressure</label>
                                        <input class="form-control form-control-sm" value=",839 psi" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Reservoir (vertical) TVD uncertainties</label>
                                        <input class="form-control form-control-sm" value="Primary: +/- 30m" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Expected Reservoir Temperature</label>
                                        <input class="form-control form-control-sm" value="170 °C" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h6 class=" heading-small text-muted mb-4">Target Coordinates</h6>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Sand Top</label>
                                        <input class="form-control form-control-sm" placeholder="Cycle IV Carbonate"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">TVDSS</label>
                                        <input class="form-control form-control-sm" placeholder="3167" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">TVDDF (m)</label>
                                        <input class="form-control form-control-sm" placeholder="3197" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">MDDF (m)</label>
                                        <input class="form-control form-control-sm" placeholder="3197" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Datum/Map Projection East (m)</label>
                                        <input class="form-control form-control-sm" placeholder="717017.91" disabled>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Datum/Map Projection North (m)</label>
                                        <input class="form-control form-control-sm" placeholder="529499.92" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="form-control-label">Drilling Target (Shape/Radius)</label>
                                        <input class="form-control form-control-sm" placeholder="Circle/30m" disabled>
                                    </div>
                                </div>
                                <div class="col">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Pressure Profile - Kick Tolerance</h4>
                </div>
                <div class="card-body">
                    <div id="chartdiv" style="width: 100%; height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">General Drilling & Completion Procedures</h4>
                </div>
                <div class="card-body">
                    <h6 class=" heading-small text-muted mb-4">20” Casing While Drilling Level 2</h6>
                    <p clas="mb-0">1. M/U Weatherford CWD Spear to Top Drive.</p> 
                    <p clas="mb-0">2. M/U 24” CWD Bit with Pup joint to 20” 133# X56M SL-BOSS casing</p> 
                    <h6 class=" heading-small text-muted mb-4">17-1/2” Hole Section Drilling</h6>
                    <p clas="mb-0">1. M/U 17-1/2” Rotary BHA + LWD, RIH BHA, drill shoe track, and perform LOT to 14.3 ppg.</p> 
                    <p clas="mb-0">2. Continue drilling until 2200m TVDDF. POOH BHA. </p> 
                    <h6 class=" heading-small text-muted mb-4">12-1/4” Hole Section Drilling</h6>
                    <p clas="mb-0">M/U 12-1/4” rotary BHA + LWD, RIH BHA, drill shoe track, and perform LOT to 16 ppg.</p> 
                    <p clas="mb-0">Continue drilling until 3157m TVDDF (40m from most likely TOC). POOH BHA.</p> 
                    <h6 class=" heading-small text-muted mb-4">8-1/2” Hole Section Drilling (Carbonate)</h6>
                    <p clas="mb-0">1. N/D overshot, install RCD, N/U overshot, pressure test.</p> 
                    <p clas="mb-0">2. M/U 8-1/2” motor BHA + LWD, M/U seal assembly running tool, RIH BHA, drill shoe track & perform LOT to 17.3 ppg.</p> 
                    <h6 class=" heading-small text-muted mb-4">Well Testing</h6>
                    <p clas="mb-0">1. M/U 7” lower assembly (7” liner hanger + Well Annular Barrier assembly + Guide shoe).</p> 
                    <p clas="mb-0">2. In case of total losses, RIH 7” liner assembly in top kill mode. Once RIH with DP, install seal assembly, close RCD on 5-1/2” DP and activate PMCD.</p> 
                    <p clas="mb-0">3. In case of partial losses, cure losses via LCM, flow check.</p> 
                    <p clas="mb-0">4. RIH 7” liner assembly conventionally once the well is static.</p> 
                    <p clas="mb-0">5. Set 7” liner 80m above 9-5/8” shoe. Retrieve liner hanger running tool. Pressure test above 7” liner packer.</p> 
                    <p clas="mb-0">6. RIH 9-5/8” scraper BHA, tag top of liner and scrape packer setting depth @ 3000m TVDDF. </p> 
                    <p clas="mb-0">7. Circulated well with clean up pill and later circulate with overbalance Safebrine.</p>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Mud Program</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Hole Size/Interval</th>
                                <th scope="col">Flowrate (GPM)</th>
                                <th scope="col">Proposed Mud Rate (ppg)</th>
                                <th scope="col">Mud Type</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="col">24” x 20” CWD / 24 – 1030m</th>
                                <td>1100</td>
                                <td>8.6 - 9.5</td>
                                <td>Seawater/PHG</td>
                            </tr>
                            <tr>
                                <th scope="col">17-1/2” / 1030 – 2200m</th>
                                <td>1100</td>
                                <td>11.6 - 12.0</td>
                                <td>SBM</td>
                            </tr>
                            <tr>
                                <th scope="col">12-1/4”  / 2200 – 3157m</th>
                                <td>1000</td>
                                <td>12.5 - 13.0</td>
                                <td>SBM</td>
                            </tr>
                            <tr>
                                <th scope="col">8-1/2” / 3157 – 3660m</th>
                                <td>600</td>
                                <td>13.5 - 13.8</td>
                                <td>PMCD: LAM & Seawater</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Mud Program</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Hole Section</th>
                                <th scope="col">Primary Description</th>
                                <th scope="col">Primary Provider</th>
                                <th scope="col">Secondary Description</th>
                                <th scope="col">Secondary Provider</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="col">24” x 20” CWD</th>
                                <td>8 blade 16mm cutter CWD bit</td>
                                <td>Weatherford</td>
                                <td>8 blade 16mm cutter CWD bit</td>
                                <td>Weatherford</td>
                            </tr>
                            <tr>
                                <th scope="col">24” x 20” CWD</th>
                                <td>8 blade 16mm cutter CWD bit</td>
                                <td>TBC</td>
                                <td>8 blade 16mm cutter CWD bit</td>
                                <td>TBC</td>
                            </tr>
                            <tr>
                                <th scope="col">24” x 20” CWD</th>
                                <td>8 blade 16mm cutter CWD bit</td>
                                <td>TBC</td>
                                <td>8 blade 16mm cutter CWD bit</td>
                                <td>TBC</td>
                            </tr>
                            <tr>
                                <th scope="col">24” x 20” CWD</th>
                                <td>8 blade 16mm cutter CWD bit</td>
                                <td>TBC</td>
                                <td>8 blade 16mm cutter CWD bit</td>
                                <td>TBC</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Hydraulic Program</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Hole</th>
                                <th scope="col">MW, ppg</th>
                                <th scope="col">Flowrate, gpm</th>
                                <th scope="col">SPP @ RD, psi</th>
                                <th scope="col">HSI</th>
                                <th scope="col">ECD @ Bit, ppg</th>
                                <th scope="col">TFA (in2)</th>
                                <th scope="col">FG for the section, ppg</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="col">17-1/2”</th>
                                <td>11.8</td>
                                <td>1100</td>
                                <td>3,955</td>
                                <td>1.5</td>
                                <td>12.14</td>
                                <td>1.486</td>
                                <td>13.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Casing Program & Design Criteria</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Hole Size</th>
                                <th scope="col">Casing Specification</th>
                                <th scope="col">TD Criteria/Casing seat Justification</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="col">17-1/2”</th>
                                <td>
                                    <ul>
                                        <li>20” 133# X56M SL-BOSS</li>
                                        <li>20” 133# X56M JV-LW</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>20” is designed to withstand total load from Riser, BOP, 18-3/4” unitized WH, 13-3/8” & 9-5/8” csg with the assumption of subsequent load from 7”” etc. would be shared/supported by the 9-5/8” cement which will not jeopardize the integrity of the 20” conductor.</li>
                                        <li>13-3/8” shoe depth satisfies 50 bbls kick tolerance based on the most likely MW against high case pore pressure.</li>
                                        <li>To isolate from unconsolidated formation.</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Formation Evaluation Program</h4>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Hole</th>
                                <th scope="col">Casing Size</th>
                                <th scope="col">LWD Logging Program</th>
                                <th scope="col">Formation Logging Logging Program</th>
                                <th scope="col">Mud Logging</th>
                                <th scope="col">Borehole survey</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <th scope="col">24” CWD / 124 – 1030m</th>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>N/A</td>
                                <td>MWD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4 class="m-0">Well Schematic</h4>
                </div>
                <div class="card-body">
                    <div id="chartdiv1" style="width: 100%; height: 300px"></div>
                </div>
            </div>
        </div>
    </div>
</div>